#!/bin/bash
#
# ~/.aliases
#
# Add the following snippet to .bashrc or .zshrc
#
#	[ -f "$HOME/.aliases" ] && . $HOME/.aliases

# Default bash aliases
alias ls='ls --color=auto'
alias grep='grep --color=auto'

# dotfiles
alias dots='git --git-dir=$HOME/.dots.git/ --work-tree=$HOME'

# vim
alias vimrc='vim $HOME/.vimrc'
