[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git://github.com/chriskempson/base16-shell.git
[submodule ".vim/pack/plugins/start/base16-vim"]
	path = .vim/pack/plugins/start/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".vim/pack/plugins/start/tabular"]
	path = .vim/pack/plugins/start/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/pack/plugins/start/vim-hardtime"]
	path = .vim/pack/plugins/start/vim-hardtime
	url = git://github.com/takac/vim-hardtime.git
