:root {
	--xrdb-fg: #c5c8c6;
	--xrdb-bg: #1d1f21;
	--xrdb-0: #1d1f21;
	--xrdb-1: #cc6666;
	--xrdb-2: #b5bd68;
	--xrdb-3: #f0c674;
	--xrdb-4: #81a2be;
	--xrdb-5: #b294bb;
	--xrdb-6: #8abeb7;
	--xrdb-7: #c5c8c6;
	--xrdb-8: #969896;
	--xrdb-9: #cc6666;
	--xrdb-10: #b5bd68;
	--xrdb-11: #f0c674;
	--xrdb-12: #81a2be;
	--xrdb-13: #b294bb;
	--xrdb-14: #8abeb7;
	--xrdb-15: #ffffff;
}
