:root {
	--xrdb-fg: #ebdbb2;
	--xrdb-bg: #282828;
	--xrdb-0: #282828;
	--xrdb-1: #cc241d;
	--xrdb-2: #98971a;
	--xrdb-3: #d79921;
	--xrdb-4: #458588;
	--xrdb-5: #b16286;
	--xrdb-6: #689d6a;
	--xrdb-7: #a89984;
	--xrdb-8: #928374;
	--xrdb-9: #fb4934;
	--xrdb-10: #b8bb26;
	--xrdb-11: #fabd2f;
	--xrdb-12: #83a598;
	--xrdb-13: #d3869b;
	--xrdb-14: #8ec07c;
	--xrdb-15: #ebdbb2;
}
