:root {
	--xrdb-fg: #D8DEE9;
	--xrdb-bg: #2E3440;
	--xrdb-0: #3B4252;
	--xrdb-1: #BF616A;
	--xrdb-2: #A3BE8C;
	--xrdb-3: #EBCB8B;
	--xrdb-4: #81A1C1;
	--xrdb-5: #B48EAD;
	--xrdb-6: #88C0D0;
	--xrdb-7: #E5E9F0;
	--xrdb-8: #4C566A;
	--xrdb-9: #BF616A;
	--xrdb-10: #A3BE8C;
	--xrdb-11: #EBCB8B;
	--xrdb-12: #81A1C1;
	--xrdb-13: #B48EAD;
	--xrdb-14: #8FBCBB;
	--xrdb-15: #ECEFF4;
}
